---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
InsertBraces: true
RemoveBracesLLVM: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
IncludeBlocks: Preserve
SortIncludes: false
BinPackArguments: true
BinPackParameters: true
IndentCaseLabels: true
IndentPPDirectives: None
ReflowComments: false
...
